*{
    margin: 0%;
    padding: 0%;
}
/* unvisited Link */
a:link{
    color: red;
}
/* visited link */
a:visited{
    color: green;
}
/* Mouse over link */
a:hover{
    color: yellow;
}
/* selcted link */
a:active{
    color: blue;
}
.borderCss{
    width: 500px;
    height: inherit;
    background-color: aquamarine;
    border-color: black;
    border-width: 5px;
    
    
}
    

