*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100px;
    background-color: black;
}
.Logo{
    width: 30%;
    line-height: 100px;
    text-align: center;
    background-color: orange;
    float: left;
}
.Menu{
    width: 70%;
    line-height: 100px;
    background-color:antiquewhite; 
    float: right;   
}
ul{
    list-style: none;
    float: right;
}
li{
    display: inline;
    border: 1px solid;

}